
<p>
  
  <strong>Profil Sayfası : </strong><br>
  <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %> <br>

  <%= @user.username %>
  
</p>

<%= link_to 'Geri', posts_path %>
<%= link_to 'Düzenle', edit_user_path(@user) %>
